body {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: absolute;
	z-index: 0;
}

header,nav,article,footer,section,aside,figure,figcaption { display:block }

a {
	color: ##3398B9;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 940px;
}

.header {
	padding-top: 150px;
	width: 100%;
	height: 640px;
	color: #f8f8f8;
	background-size: 100%;
	background-image: url("../img/wallpaper_05.jpg");
	background-repeat: no-repeat;
	z-index: 0;
	border-bottom: 2px solid #D4D4D4;
}

h1 {
	font-size: 40px;
	font-family: 'Droid Sans', Arial;
	line-height: 40px;
	text-shadow: black 0px 0px 10px;
	-webkit-text-stroke: 0.35px;
}

.header h5 {
	color: #c0c0c0;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}

.navbar-inverse .navbar-inner {
	/*0c1b26*/
	background-color: #0c1b26;
	background-image: -moz-linear-gradient(top, #0c1b26, #0c1b26);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0c1b26), to(#0c1b26));
	background-image: -webkit-linear-gradient(top, #0c1b26, #0c1b26);
	background-image: -o-linear-gradient(top, #0c1b26, #0c1b26);
	background-image: linear-gradient(to bottom, #0c1b26, #0c1b26);
	background-repeat: repeat-x;
	border-color: #0c1b26;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0c1b26', endColorstr='#0c1b26', GradientType=0);
}

.navbar-inner {
	padding-top: 10px;
	height: 50px;
}

.navbar-inner .brand, .navbar-inner .nav {
	font-family: open-sans, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inner .brand {
	font-size: 14px;
}

.navbar .nav > li > a {
	font-size: 13px;
}

caption {
	text-align: -webkit-left;
	padding-bottom: 5px;
}

table caption {
	font-size: 20px;
}

section {
	width: 100%;
	height: 500px;
/*	border-bottom: 1.5px solid #d4d4d4;	*/
/*	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0px 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 0;
	-o-box-shadow: rgba(0,0,0,0.5) 0 0px 2px 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0px 2px 0;*/
}

.table thead {
	background-color: #d9edf7;
}

.table tbody tr.info td {
background-color: #eaf6fb;
}

.span3 {
	padding-left: 30px;
}

#about {
	width: 940px;
	height: 460px;
	padding-top: 70px;
	padding-bottom: 20px;
/*	border-bottom: 1.5px solid #d4d4d4;	*/
}

#event {
	width: 940px;
	height: 1250px;
	padding-top: 70px;
	padding-bottom: 40px;
/*	border-bottom: 1.5px solid #d4d4d4;*/
}

#speaker {
	width: 940px;
	height: 480px;
	padding-top: 70px;
	padding-bottom: 40px;
/*	border-bottom: 1.5px solid #d4d4d4;*/
} 

#venue {
	width: 940px;
	height: 420px;
	padding-top: 70px;
	padding-bottom: 40px;
}

#join {
	width: 940px;
	height: 200px;
	padding-top: 70px;
	padding-bottom: 60px;
} 

.aboutspeaker {
	margin-left: 120px;
	margin-right: 30px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 450px;
	-webkit-border-radius: 450px;
	-o-border-radius: 450px;
	-ms-border-radius: 450px;
	-khtml-border-radius: 450px;
	border-radius: 450px;
	border: 3px white solid;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0px 1px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 px 1px 0;
	-o-box-shadow: rgba(0,0,0,0.5) 0 0px 1px 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0px 1px 0;
}

.span4 {
	margin-top: 10px;
	margin-right: 30px;
}

.aboutspeaker img {
	-moz-border-radius: 450px;
	-webkit-border-radius: 450px;
	-o-border-radius: 450px;
	-ms-border-radius: 450px;
	-khtml-border-radius: 450px;
	border-radius: 450px;
	width: 100px;
	height: 100px;
}

#collaborate {
	width: 940px;
	height: 200px;
	padding-top: 100px;
	padding-bottom: 40px;
	text-align: center;
}

.nvidia {
	width: 200px;
	height: 150px;
	margin-top: 10px;
	margin-right: 15px;
}

.mimos {
	width: 130px;
	height: 120px;
	margin-top: 10px;
	margin-right: 10px;
	border: 0;
}

footer {	
	width: 100%;
	height: 150px;
	background-color: #f8f8f8;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	color: black;
	padding-top: 50px;
	border-top: 2px solid #d4d4d4;
}